#logosophie { height:auto; width:80%; max-width:500px; }
#rpg { height:auto; width:95%; max-width:800px; }
#rythme { height:auto; width:80%; max-width:500px; }
#labyrinthe { height:auto; width:50%; max-width:600px; }

.grid_projets {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
}

.item_projet {
    background-color: #6495ed;
    color: white;
    padding: 25px;
    border: 1px solid white;
    text-align: center;
    font-size: 1.2em;
}

.item_projet:nth-child(1) { grid-row:1/3; background-color:var(--projet1-color); }
.item_projet:nth-child(2) { background-color:var(--projet1-color); }
.item_projet:nth-child(3) { background-color:var(--projet1-color); }
.item_projet:nth-child(4) { grid-column:1/3; margin-left:25%; width:50%; background-color:var(--projet1-color); }

.item_projet:nth-child(5) { background-color:var(--projet2-color); }
.item_projet:nth-child(6) { background-color:var(--projet2-color); }
.item_projet:nth-child(7) { grid-row:4/6; grid-column:2/3; background-color:var(--projet2-color); }
.item_projet:nth-child(8) { grid-column:1/3; margin-left:25%; width:50%; background-color:var(--projet2-color); }

.item_projet:nth-child(9) { grid-row:7/9; background-color:var(--projet3-color); }
.item_projet:nth-child(10) { background-color:var(--projet3-color); }
.item_projet:nth-child(11) { background-color:var(--projet3-color); }
.item_projet:nth-child(12) { grid-column:1/3; margin-left:25%; width:50%; background-color:var(--projet3-color); }

.item_projet:nth-child(13) { grid-row:10/12; background-color:var(--projet4-color); }
.item_projet:nth-child(14) { background-color:var(--projet4-color); }
.item_projet:nth-child(15) { background-color:var(--projet4-color); }
.item_projet:nth-child(16) { grid-column:1/3; margin-left:25%; width:50%; background-color:var(--projet4-color); }

@media screen and (max-width: 768px) {
    .grid_projets {
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 1em;
    }

    .item_projet {
        grid-column: auto !important;
        grid-row: auto !important;
        margin-left: 0 !important;
        width: 100% !important;
        padding: 1em;
        font-size: 1em;
    }


    #logosophie, #rpg, #rythme, #labyrinthe {
        width: 90%;
        max-width: 100%;
    }
}



