body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-image: url("../images/fondpage.jpg");
    background-repeat: repeat;
    background-size: auto;
}
header {
    text-align: center;
    padding: 40px 20px;
}

nav {
    display:block;
    background-color: var(--nav-color);
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    nav li {
        margin: 0 40px;
    }

    nav a {
        display: block;
        text-decoration: none;
        color: var(--text-color);
        font-size: 22px;
        font-weight: bold;
        padding: 20px 0;
    }

        a:hover {
            transform: scale(1.25,1.25);
            color: #eedf0e;
            transition: 0.4s ease-in;
            
        }

footer {
    text-align: center;
    color: #888;
    font-size: 14px;
    padding: 30px 0;
    border-top: 1px solid #333;
    margin-top: 40px;
}


.titreProjet {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color:var(--text-color);
}
h2{font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    color:var(--text-color);}
p {
    color: var(--text-color);
    font-size: 18px;
}
.texte_centre {
    text-align: center;
    font-family:'Lucida Sans','Trebuchet MS';
    color:var(--text-color);
}
.description_projet{
    text-align: left;
    font-size:22px;
    color:var(--text-color);
}


ul {
    color: var(--text-color);
    list-style-type: disc;
    padding-left: 20px;
}

ul ul {
    font-size: clamp(0.5rem, 0.4rem + 1vw, 0.75rem); 
    color: var(--text-color);
}

li {
    padding-top: 10px;
}


section {margin-bottom:100px;}

footer {
  background-color: var(--bg-color);
}

h3 {color:var(--text-color);}




    



    
