:root {--bg-color:#121212;
       --text-color:white;
       --caption-color:#e0e0e0;
       --caption-background-color:rgb(33, 141, 125);
       --nav-color: rgb(37, 17, 17);
       --shadow-color: rgba(31, 164, 226, 0.5);

       --projet1-color:rgb(18, 133, 148);
       --projet2-color:rgb(29, 141, 76);
       --projet3-color:rgb(138, 72, 199);
       --projet4-color:rgb(199, 132, 32);
}
