.info_container {
    font-size: 30px;
    padding-bottom: 100px;
    color: var(--text-color);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.info_item {
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px 30px;
    flex: 0 0 calc(45% - 20px);
    max-width: calc(45% - 20px);
    background-color: var(--container-color);
    box-shadow: 20px 20px 30px var(--shadow-color);
    transition: 0.3s ease-in;
    transform: scale(0.7,0.7);
}
.info_item:hover {
            transform: scale(0.9,0.9);
            transition: 0.3s ease-in;  
        }
.info_container h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

mark.black { 
    background-color: var(--bg-color);
    color: var(--text-color);
}